QUOTE_REGEX='(?P<quote1>["\"”])?(?P<text>.*?)(?P<quote2>["\"”])?\s*-\s*@?(?P<quotee>.*?)(?P<till>\s+till\s+@(?P<receiver>.*))?$'

STORAGE_ADAPTER='google_sheets'
GOOGLE_SERVICE_ACCOUNT=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_PAGE_NAME=

MEDIA_ADAPTER='slack'
SLACK_APP_TOKEN=
SLACK_CHANNEL_ID=